
@{
    ViewData["Title"] = "Basket";
}

    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Shopping Cart</h2>
                    <p>Make sure you have everything you need, and you've chosen a table number, before hitting checkout!</p>
                </div>
                <div class="content">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-lg-8 offset-lg-0">
                            <div class="items">
                                <div class="product">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-md-5 product-info">
                                            <!-- Start: lblItemLink --><a class="product-name" href="#">Lorem Ipsum dolor</a>
                                            <!-- End: lblItemLink -->
                                            <div class="product-specs">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 quantity">
                                            <label class="d-none d-md-block" for="quantity">Quantity</label>
                                            <!-- Start: numItemQuantity --><input type="number" id="number" class="form-control quantity-input" value="1">
                                            <!-- End: numItemQuantity -->
                                        </div>
                                        <div class="col-6 col-md-2 price">
                                            <!-- Start: lblItemPrice --><span>$120</span>
                                            <!-- End: lblItemPrice -->
                                        </div>
                                    </div>
                                </div>
                                <div class="product"></div><span>Table Number (required)</span>
                                <!-- Start: cmbTableNumber -->
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Table Number</button>
                                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">1</a><a class="dropdown-item" role="presentation" href="#">2</a><a class="dropdown-item" role="presentation" href="#">3</a></div>
                                </div>
                                <!-- End: cmbTableNumber -->
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>
                                <h4><span class="text">Total</span><span class="price">$360</span></h4>
                                <!-- Start: btnCheckout --><button class="btn btn-primary btn-block btn-lg" type="button">Checkout</button>
                                <!-- End: btnCheckout -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

