
@{
    ViewData["Title"] = "AdminViewOrders";
}

    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">View Orders</h2>
                    <p>A place to check on current orders</p>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col" style="width: 354px;">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Cell 1</td>
                                        </tr>
                                        <tr>
                                            <td>Cell 3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <div class="table-responsive" style="width: 530px;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Cell 1</td>
                                            <td>Cell 2</td>
                                        </tr>
                                        <tr>
                                            <td>Cell 3</td>
                                            <td>Cell 4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><button class="btn btn-primary text-right float-right" type="button">Complete Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

