
@{
    ViewData["Title"] = "Picture Credits";
}

    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Credit for Pictures</h2>
                    <p>A place for me to credit images I've found to use. <br>All of them are royalty free, but giving credit is the nice thing to do.</p>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question">Beer being poured</h4>
                        <div class="answer"></div>
                    </div>
                    <p>Photo by Amie Johnson on: <a href="https://unsplash.com/s/photos/pub?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a><br></p>
                    <div class="faq-item">
                        <h4 class="question">Inside Pub</h4>
                        <div class="answer"></div>
                    </div>
                    <span>Photo by Luca Bravo on: <a href="https://unsplash.com/s/photos/pub?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a><br></span>
                    <div class="faq-item">
                        <h4 class="question">Burger</h4>
                        <div class="answer"></div>
                    </div>
                    <p>Photo by Lidye on: <a href="https://unsplash.com/s/photos/food?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a><br></p>
                    <h4 class="question" style="font-size: 16px;font-weight: 600;">
                        Cocktails
                    </h4>
                    <header></header>
                    <span>Photo by Helena Yankovska on: <a href="https://unsplash.com/s/photos/cocktails?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a><br></span>
                </div>
            </div>
        </section>
    </main>

