@{
    ViewData["Title"] = "User Order";
}

<main class="page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Your Order</h2>
                <p>Please enter your order number below to see the status of your order!</p>
            </div>
        </div>
        <div class="text-center" style="padding: 25px;">
            <span>Order Number: &nbsp; &nbsp;&nbsp;</span>
            <!-- Start: txtOrderCheckInput --><input type="number">
            <!-- End: txtOrderCheckInput -->
            <!-- Start: btnSubmitCheckOrder --><button class="btn btn-primary" type="button" style="margin: 20px;">Submit</button>
            <!-- End: btnSubmitCheckOrder -->
        </div>
        <div>
            <div class="row"></div>
        </div>
    </section>
</main>